<style type="text/css">
    #Btn{
        margin-top: 25px;
    }

</style>

<!-- Include the navbar -->
<div ng-include src="'app/shared/navbar.html'"></div>

<div class="page-header">
    <h1>
        Cars
        <a href="/cars/create" class="btn btn-default pull-right" id="Btn">
            <span class="glyphicon glyphicon-plus"></span>
            New car
        </a>
    </h1>
</div>


<!-- LOADING MESSAGE -->
<!--
<div class="jumbotron text-center" ng-show="user.processing">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Loading users.....</p>
</div> 
-->


<table class="table table-bordered table-striped" ng-show="car.cars">
    <thead>
        <tr>
            <th>brand</th>
            <th>model</th>
            <th>km</th>
            <th>price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="car in car.cars">
            <td>{{ car.brand }}</td>
            <td>{{ car.model }}</td>
            <td>{{ car.km }}</td>
            <td>{{ car.price }}</td>
            <td class="col-sm-2">
                <a ng-href="/cars/{{ car._id }}" class="btn btn-info">Edit</a>
            </td>
        </tr>
    </tbody>
</table>