<style type="text/css">
	#delBtn{
		margin-top: 20px; 
	}
</style>

<!-- Include the navbar -->
<div ng-include src="'app/shared/navbar.html'"></div>
<div class="page-header">
	<button ng-if="restaurant.type == 'edit'"class="btn btn-danger btn-lg pull-right" id="delBtn" ng-click="restaurant.deleteRestaurant(restaurant.restaurantData._id)">Delete</button>
	<h1 ng-if="restaurant.type =='create'">Create Restaurant</h1>
	<h1 ng-if="restaurant.type =='edit'">Edit Restaurant</h1>
</div>

<form class="form-horizontal" ng-submit="restaurant.saveRestaurant()">

	<div class="form-group">
		<label class="col-sm-2 control-label">name</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="restaurant.restaurantData.name">
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">information</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="restaurant.restaurantData.information">
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">opening hours</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="restaurant.restaurantData.openingHours">
		</div>
	</div>	

	<div class="form-group">
		<label class="col-sm-2 control-label">address</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="restaurant.restaurantData.address">
		</div>
	</div>

	<div class="col-sm-offset-2 col-sm-6">
		<button type="submit" class="btn btn-success btn-lg btn-block" ng-if="restaurant.type == 'create'">Create Restaurant</button>
		<button type="submit" class="btn btn-success btn-lg btn-block" ng-if="restaurant.type == 'edit'">Update Restaurant</button>
	</div>
</form>

	<div class="row show-hide-message" ng-show="restaurant.message">
		<div class="col-sm-6 col-sm-offset-2">
			<div class="alert alert-info">
				{{ restaurant.message }}
			</div>
		</div>
	</div>
