<style type="text/css">
	#navbar{
		padding-left: 3000px;
		margin-left: -3000px;
		padding-right: 3000px;
		margin-right: -3000px;
	}
</style>

<header>
	<nav class="navbar navbar-default" id="navbar">
		<div class="container">
			<div class="navbar-header">
				<a href="/" class="navbar-brand" >Api</a>
			</div>

			<ul class="nav navbar-nav navbar-right">
				<li ng-if="restaurant.category == 'restaurant'"><a href="/restaurants">Restaurants</a></li>
				<li ng-if="car.category == 'cars'"><a href="/cars">Cars</a></li>
				<li ng-if="news.category == 'news'"><a href="/news">News</a></li>
			</ul>
		</div>	
	</nav>
</header>